%sysops {{ ansible_default_ipv4.address }} = (ALL) ALL
Host_Alias WEBSERVERS = <"{{ groups['webservers'] | list | join(',') }}">
Host_Alias DBSERVERS = "{{ groups['database'] | first }}"
%httpd WEBSERVERS = /bin/su - webuser
%dba DBSERVERS = /bin/su - dbuser 